fastapi
uvicorn
email-validator
python-dotenv
python-multipart
pymysql
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
sqlalchemy
pymysql
pydantic-settings
alembic
passlib[bcrypt]
python-jose[cryptography]